body{
    background-color: #24353f !important;
    font-family: 'Titillium Web', sans-serif !important;
}

.content{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353f;
}
input{
    background-color: transparent !important;
    color: white !important;
}
h1,h2{
    font-size: 2.5rem !important;
}
h1{
    color: #17a2b8 !important;
    font-weight: 500;
}
input::placeholder{
    color: #b1b4b6 !important;
}
.form-control{
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    height: calc(2.25rem + 2px);
}
.content p{
    color: white;
}
.content a{
    text-decoration: none;
    color: white;
}
.content a:hover{
    text-decoration: underline;
}
.btn{
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}
nav{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353f !important;
}
.container a{
    color: white !important;
}
form button{
    color: #b1b4b6 !important;
}
form button:hover{
    color: white !important;
}
#home{
    height: 75vh;
}